*.jpg
*.txt
TrackNet-main\Dataset\
videos\YOLOData\test\images\
videos\YOLOData\test\labels\
videos\YOLOData\train\images\
videos\YOLOData\valid\labels\
videos\YOLOData\valid\labels\
videos\YOLOData\data.yaml


